*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background:linear-gradient(rgba(13, 22, 58, 0.7), rgba(4,9,30,0.7)), url(img/b1.jpg);;
    background-position: center;
    background-size: cover;
}
.card{
    width: 60%;
    backdrop-filter: blur(10px) saturate(100%);
    background: rgba(255, 255, 255, 0.068);
    color: #fff;
    margin: 40px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.imgs{
    width: 16px;
}
.seach{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.seach input
{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.seach button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.seach button img
{
    width: 16px;
}
.weather-icon
{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 60px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-top: 50px;
}
.col
{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humitity, .wind{
    font-size: 30px;
    margin-top: -6px;
}